/*
* General Configuration
*/

/*
* Font de BUO
*/

* {
    font-family: 'Montserrat', sans-serif;
}

/*
* Scroll de BUO
*/
html {
    overflow-y: auto !important;
}

/*
* Background Color App
*/
.v-application {
    background-color: var(--v-background-base) !important;
}

/*
* Buo app style
*/

/*
* Display
*/
.BUO-Display-Large {
    /* Display/Large (96) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 125%;
    /* or 120px */
}

.BUO-Display-Medium {
    /* Display/Medium (52) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 125%;
    /* or 65px */
}

.BUO-Display-Small {
    /* Display/Small (44) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 125%;
    /* or 55px */
}

.BUO-Display-XSmall {
    /* Display/X Small (36) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */
}

/**
* Heading
*/
.BUO-Heading-Large {
    /* Heading/Large (40) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    /* or 50px */
}

.BUO-Heading-Medium {
    /* Heading/Medium (36) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    /* or 40px */
}

.BUO-Heading-Small {
    /* Heading/Small (24) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    /* or 30px */
}

.BUO-Heading-XSmall {
    /* Heading/X Small (20) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    /* or 25px */
}

/*
* Paragraph
*/
.BUO-Paragraph-Large {
    /* Paragraph/Large Regular (18) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    /* or 22px */
}

.BUO-Paragraph-Large-SemiBold {
    /* Paragraph/Large SemiBold (18) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    /* or 22px */
}

.BUO-Paragraph-Medium {
    /* Paragraph/Medium Regular (16) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
}

.BUO-Paragraph-Medium-SemiBold {
    /* Paragraph/Medium Semibold (16) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    /* or 20px */
}

.BUO-Paragraph-Small {
    /* Paragraph/Small Regular (14) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    /* or 18px */
}

.BUO-Paragraph-Small-SemiBold {
    /* Paragraph/Small Semibold (14) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    /* or 18px */
}

/*
* Label
*/
.BUO-Label-Small {
    /* Label/Small Regular (14) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    /* or 18px */
}

.BUO-Label-Small-SemiBold {
    /* Label/Small Semibold(14) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
    /* or 18px */
}

.BUO-Label-XSmall {
    /* Label/XSmall Regular (12) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    /* or 15px */
}

.BUO-Label-XSmall-SemiBold {
    /* Label/X Small Semibold (12) */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    /* or 15px */
}

/*
* Custom BUO CSS
*/

/*
* Avoid Upper Case
*/
.no-uppercase {
    text-transform: unset !important;
}

/*
* Segment the sentence
*/
.buo-word-break {
    word-break: break-word !important;
}

/*
* Segment the sentence
*/
.buo-none-word-break {
    word-break: normal !important;
}

/*
* Fix Vuetify UI panel componente
*/
.buo-headerAbility-position {
    width: 100% !important;
    height: 100% !important;
    right: 16px !important;
}

/*
* Fix Vuetify UI panel componente
*/
.buo-expansion-panel-header {
    padding: 0 !important;
    width: 99% !important;
}

/*
* Fix Vuetify componente
*/
.buo-white-space {
    height: auto !important;
    white-space: normal !important;
}

.Buo-White-Background {
    background: white !important;
}

/*
* buo footer 
**/

.buo-footer {
    position: sticky !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 2 !important;
    position: -webkit-sticky !important;
}

/*
* Custom Vuetify Components
*/

/*
* Progress Bar Request API
*/
#nprogress .bar {
    background: #174b89 !important;
}

/*
* Scroll Bar Css
*/

/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #282828;
}

/*Setting tabs*/
.v-tabs-bar {
    background-color: transparent !important;
}

/*Inactive or disabled*/
/*Theme light*/
.theme--light.v-tabs .v-tab:not(.v-tab--active){
    opacity: 1 !important;
    background-color: #F8F8F8 !important;
    border: 0.5px solid #EEEEEE !important;
}

.theme--light.v-tabs .v-tab:not(.v-tab--active) > p ,.v-tab > p{
    color: #585858 !important;
}

/*Theme dark*/
.theme--dark.v-tabs .v-tab:not(.v-tab--active){
    opacity: 1 !important;
    background-color: #1e1e1e !important;
    border: 1.5px solid #585858 !important;
}

.theme--dark.v-tabs .v-tab:not(.v-tab--active) > p ,.v-tab > p{
    color: #FFFFFF !important;
}

/*Opacity hover and focus*/
.v-tabs .v-tab:focus::before {
    opacity: 0 !important;
}

.v-tabs .v-tab:hover::before, ::after
{
    opacity: 0 !important;
}

/*Theme light*/
.theme--light.v-tabs .v-tab:hover{
    background-color: #FFFFFF !important; 
    border: 0.5px solid #EEEEEE !important;
}

.theme--light.v-tabs .v-tab:hover > p{
    color: #585858 !important;
}

/*Theme dark*/
.theme--dark.v-tabs .v-tab:hover{
    background-color: #4C798E !important; 
}

.theme--dark.v-tabs.v-tabs .v-tab:hover > p{
    color: #FFFFFF !important;
}

/*Active*/
.tab-active-blue {
    background-color: #003f5e !important;
}

.tab-active-blue > p {
    color: #FFFFFF !important;
}

.theme--light .tab-active-white {
    background-color: #FFFFFF !important;
    border: 1.5px solid #003F5E;
}

.theme--light .tab-active-white > p {
    color: #282828 !important;
}

.theme--dark .tab-active-white{
    background-color: #B2C5CF !important;
    border: 1.5px solid #585858 !important;
}

.theme--dark .tab-active-white > p {
    color:#282828 ! important;
}

